.header3 {
  
    background-color: var(--color-gray);
  
    height: 87px;
    /* overflow: hidden;*/
  
    font-size: var(--font-size-base);
    color: var(--color-dimgray);
    font-family: var(--font-farro);
 
     
    
  }
  .frame-div {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content:left; 
    gap: var(--gap-71xl);
  
    
  }
  .info7 {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }

  .frame7 {
    font-size: 14px;
    overflow: hidden;
    font-family: var(--font-fenix);
  }
.card {
    background-color: rgb(255, 255, 255);
    height: 238px;
    
}


.footer3 {
   
    background-color: var(--color-white);
    display: flex;
    flex-direction: row;
    justify-content: left;
    /* gap: var(--gap-71xl); */
    align-items: center;
    gap: 100px;
    
    
 
    font-size: var(--font-size-base);
    color: var(--color-dimgray);
    font-family: var(--font-farro);
  }

  .info67{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
 }
 .card-body{
  font-family: var(--font-farro);
 }
 .frame6{
  color: var(--color-dimgray);
 }